<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/ssm"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="typeAliasesPackage" value="com.pojo"></property>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="factory"></property>
		<property name="basePackage" value="com.mapper"></property>
	</bean>
	
	<!-- spring-jdbc中 -->
	<bean id="txmanager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:advice id="txadvice" transaction-manager="txmanager">
		<tx:attributes>
			<!-- 哪个方法需要添加事务 -->
			<!-- 所有以ins开头都添加事务 -->
			<tx:method name="ins*" propagation="REQUIRED" />
			<tx:method name="upd*" isolation="SERIALIZABLE" />
			<tx:method name="del*" rollback-for="java.lang.Exception" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	<aop:config>
		<!-- 切点范围设计大点 -->
		<aop:pointcut expression="execution(* com.service.impl.*.*(..))" id="mypoint" />
		<aop:advisor advice-ref="txadvice" pointcut-ref="mypoint" />
	</aop:config>
	

	<bean id="usersServiceImpl" class="com.service.impl.UsersServiceImpl">
			<property name="usersMapper" ref="usersMapper"></property>
	</bean>
</beans>